.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

button {
  background-color: gray;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 24px;
  width: 70px;
  height: 70px;
  margin: 5px;
  cursor: pointer;
  color: white;
}

button:hover {
  background-color: #ccc;
}

button:active {
  background-color: #999;
  color: #fff;
}

.zero {
  width: 230px;
}

.first-row {
  background-color: rgb(90, 90, 90);
}

.operation {
  background-color: orange;
}

.result {
  background-color: rgb(60, 60, 60);
  height: 70px;
  width: 279px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  border-radius: 5px;
  margin: 5px;
  padding: 0px 15px;
  font-size: 24px;
  color: white;
}
